Repository jijieoo/learn-vue3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat: change readme
  README.md
Due: none

feat: match-record
  .eslintrc.js
  src/api/modules/match-record.js
  src/layout/index.vue
  src/router/index.js
  src/views/match-record/index.vue
  src/views/match-record/user-hero.vue
  src/views/match-record/uses/index.js
  src/views/ranking/index.vue
Due: eslint, stylelint

feat: add match day
  package-lock.json
  package.json
  src/api/modules/match-record.js
  src/styles/element-variables.scss
  src/styles/normalize.less
  src/views/match-record/index.vue
  src/views/match-record/user-hero.vue
  src/views/match-record/uses/index.js
Due: eslint, stylelint

feat: remove collapse
  src/views/match-record/index.vue
  src/views/match-record/user-hero.vue
Due: eslint, stylelint

feat: ws
  package-lock.json
  package.json
  src/layout/index.vue
  src/router/index.js
  src/views/match-room/index.vue
  vue.config.js
Due: eslint, stylelint

feat: change ws
  .eslintignore
  package-lock.json
  package.json
  src/lib/ws-client.js
  src/views/match-room/index.vue
  src/views/uses/match-room.js
Due: eslint, stylelint

feat: change to socket.io
  package-lock.json
  package.json
  src/views/uses/match-room.js
  vue.config.js
Due: eslint

Path conditions:
  eslint: any of: *.{vue,js}
  stylelint: any of: *.{vue,less}
